body{
	font-family:"Poppins", sans-serif;
	text-transform: uppercase;
}

header{
	display: flex;
    flex-direction: row;
	justify-content: space-between;
	border-bottom: 3px solid lightblue;
	align-items:flex-end;
  }

 .nav_links{
	display: flex;
	flex-direction: row;
  }

  .nav_item a{
	  color: black;
	  text-decoration: none;
	  justify-content: space-evenly;
  }

  a:hover{
	  color: lightblue;
  }

  .skip {
	  text-decoration: none;
	  color: black;
	  font-size: 10px;
  }

  nav li {
    padding: 10px;
	width: 30%;
	font-size: 15px;
	display: inline-block;	
}

  header > img{
	  max-width: 200px;
	  max-height: 200px;
  }

  .me{
	position: absolute;
	top: 30%;
	left: 10%;
	width: 100%;
	height: 100%;
	opacity: 95%;
	size: 70%;
  }

  h1{
	  font-size: 50px;
	  font-weight: bold;
  }

  .name{
	position: absolute;
	top: 30%;
	right: 60%;
	border-top: 5px solid lightblue;
	border-bottom: 5px solid lightblue;
  }

  .name p{
	  color: lightgray;
  }

  .nav_item1 {
	  font-weight: bold;
	  text-decoration: underline;
  }

  .about_me{
	  background-color: lightskyblue;
	  position: absolute;
	  top: 20%;
	  right:10%;
	  width: 60%;
	  color: white;
	  padding-left: 20px;
	  padding-right: 50px;
	  height: 100%;
	  text-align: left;
  }

  .exp h1{
	font-size: 75px;
	color: lightskyblue;
	text-align: center;
}

  .grid {
	left: 4%;
	position: absolute;
	display: grid;
	grid-template-columns: auto auto;
	background-color: lightskyblue;
	padding: 10px;
  }
  
	#blockm{
		height: 95px;
	}

  .exp1{
	  background-color: lightskyblue;
	  color: white;
	  width: 50%;
	  padding-left: 20px;
	  padding-right: 50px;
  }
  .exp2{
	background-color: lightskyblue;
	color: white;
	width: 50%;
	align-content: right;
	padding-left: 20px;
	padding-right: 50px;
}

.pictures{
	height: fit-content;
}

.pictures img{
	margin-top: 40px;
	margin-left: 150px;
	top: 20%;
	left:70%;
	width: 100px;
	height: 100px;
}

footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: fit-content;
	background: black;
	color: white;
	text-align:center;
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 12px;
  }

  #linkedin{
	  width: 50px;
	  height: 50px;
  }

	#instagram{
		width: 90px;
		height: 50px;
	}

  .grid-item2, .grid-item3, .grid-item4, .grid-item5{
	border: 5px solid white;
	width: 100%;
	height: 100%;
	color: white;
	opacity: 100%;
	padding: 30px;
	font-size: 30px;
}

  .grid-item2{
	text-align: left;

  }
  .grid-item3{
	text-align: right;

  }
  .grid-item4{
	text-align: left;

  }

  .grid-item5{
	text-align: right;
  }

  .project1{
	background-color: lightskyblue;
	position: absolute;
	top: 35%;
	left:5%;
	width: 25%;
	color: white;
	padding-left: 20px;
	padding-right: 50px;
	height: 100%;
	text-align: left;
  }

  .project2{
	background-color: lightskyblue;
	position: absolute;
	top: 35%;
	right:37.5%;
	width: 25%;
	color: white;
	padding-left: 20px;
	padding-right: 50px;
	height: 100%;
	text-align: left;
  }

  .project3{
	background-color: lightskyblue;
	position: absolute;
	top: 35%;
	right:5%;
	width: 25%;
	color: white;
	padding-left: 20px;
	padding-right: 50px;
	height: 100%;
	text-align: left;
  }

  .project1 h1, .project2 h1, .project3 h1{
	  font-size: 35px;
  }

  .project1 h6, .project2 h6, .project3 h6{
	  color:gray;
  }

  @media only screen and (max-width: 600px) {
	  body{
		  width: fit-content;
	  }
	header{
		width: fit-content;
	  }

	.nav_links{
		display:flex;
		justify-content: space-around;
		flex-direction: column;
	}
	.name{
		position: absolute;
		top: 30%;
		right: 40%;
		margin-left: 20px;
		border-top: 5px solid lightblue;
		border-bottom: 5px solid lightblue;
	  }

	  .me{
		top: 40%;
		left: 30%;
	  }
	  
	.pictures img{
		margin-top: 50px;
		margin-left: 0px;
		top: 20%;
		left:70%;
		width: 55px;
		height: 55px;
	}

	#blockm{
		height: 35px;
	}

	.about_me h1{
		font-size: 15px;
	}

	.about_me p{
		font-size: 10px;
	}

	.about_me{
		height: fit-content;
	}

	.exp h1{
		font-size: 30px;
	}

	.grid {
		grid-template-columns: auto;
		grid-template-rows: auto auto auto auto;
	}
	.grid-item1{
		margin-left: 10px;
	}

	.grid-container{
		height: fit-content;
	}

	.grid-item2, .grid-item3, .grid-item4, .grid-item5{
		font-size: 10px;
		border: 5px solid white;
	}

	.project1, .project2, .project3{
		width: fit-content;
		height: fit-content;
		color: white;
		border: 2px solid white;
		padding: none;
		margin: none;
		font-size: 8px;
		width: 30%;
		height: 50%;
		padding-top: 10px;
		top: 30%;
	}

	.project2{
		left: 35%;
	}

	.project1 h1, .project2 h1, .project3 h1{
		font-size: 15px;
	}
  
	.project1 p, .project2 p, .project3 p{
		font-size: 5;
	}

	footer{
		font-size: 10px;
	}
  }