body{
	font-family:"Poppins", sans-serif;
	text-transform: uppercase;
}

header{
	display: flex;
    flex-direction: row;
	justify-content: space-between;
	border-bottom: 3px solid lightblue;
	align-items:flex-end;
  }

.logo{
	animation-name: logo-change;
  animation-duration: 4s;
  overflow: hidden;
  animation-fill-mode: forwards;
}

  @keyframes logo-change{
	from{opacity: 0;}
	to{opacity: 1;}
  }

 .nav_links{
	display: flex;
	flex-direction: row;
  }

  .nav_item a{
	  color: black;
	  text-decoration: none;
	  justify-content: space-evenly;
  }

  a:hover{
	  color: lightblue;
  }

  .skip {
	  text-decoration: none;
	  font-size: 10px;
	  color: black;
	  opacity: 0;
  }

  .skip:focus{
	  margin-left: 20px;
	  margin-top: 10px;
	  position: absolute;
	  opacity: 100;
  }

  nav li {
    padding: 10px;
	width: 30%;
	font-size: 15px;
	display: inline-block;	
}

  header > img{
	  max-width: 200px;
	  max-height: 200px;
  }

  .parallax {
	background-image: url('../imgs/umich.png');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }

  .me{
	position: absolute;
	top: 30%;
	left: 10%;
	width: 80%;
	height: 100%;
	opacity: 95%;
	size: 70%;
  }

  #me{
	  height: 70%;
	  width: 40%;
	  margin-left: 500px;
  }

  h1{
	  font-size: 50px;
	  font-weight: bold;
  }



  .name{
	position: absolute;
	top: 30%;
	right: 60%;
	border-top: 5px solid lightblue;
	border-bottom: 5px solid lightblue;
  }

  .name p{
	color: black;
  }

  .nav_item1 {
	  font-weight: bold;
	  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .nav_item1 a{
	text-decoration: none;
	font-size: 22px;
  }

  .about_me{
	  background-color: darkblue;
	  position: absolute;
	  top: 30%;
	  right:10%;
	  width: 60%;
	  color: white;
	  padding-left: 100px;
	  padding-right: 50px;
	  height: 200%;
	  text-align: left;
	  line-height: 2;
  }

  .about_me{
	padding-left: 70px;
  }

  .exp h1{
	font-size: 75px;
	color: darkblue;
	text-align: center;
}

  .grid {
	display: grid;
	grid-template-columns: auto auto;
	background-color: darkblue;
	padding: 10px;
	margin: 20px;
	align-items: center;
  }
  
	#blockm{
		height: 95px;
	}

  .exp1{
	  background-color: darkblue;
	  color: white;
	  width: 50%;
	  padding-left: 20px;
	  padding-right: 50px;
  }
  .exp2{
	background-color: darkblue;
	color: white;
	width: 50%;
	align-content: right;
	padding-left: 20px;
	padding-right: 50px;
}

.pictures{
	display: grid;
	grid-template-columns: auto;
	row-gap: 10px;
	height: fit-content;
}

.pictures img{
	margin-top: 40px;
	margin-left: 150px;
	width: 100px;
	height: 100px;
}

footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: fit-content;
	background: black;
	color: white;
	text-align:center;
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 12px;
  }

  #linkedin{
	  width: 50px;
	  height: 50px;
  }

	#instagram{
		width: 90px;
		height: 50px;
	}

  .grid-item2, .grid-item3, .grid-item4, .grid-item5{
	border: 5px solid white;
	width: 100%;
	height: 100%;
	color: white;
	opacity: 100%;
	padding: 30px;
	font-size: 30px;
}

  .grid-item2{
	text-align: left;

  }
  .grid-item3{
	text-align: right;

  }
  .grid-item4{
	text-align: left;

  }

  .grid-item5{
	text-align: right;
  }

  .project1, .project2, .project3{
	background-color: darkblue;
	position: absolute;
	top: initial;
	width: 25%;
	color: white;
	padding-left: 20px;
	padding-right: 50px;
	height: 200%;
	text-align: left;
	line-height: 2;
  }

  .project1{
	left:5%;
  }

  .project2{
	right:37.5%;
  }

  .project3{
	right:5%;
  }

  .project1 h1, .project2 h1, .project3 h1{
	  font-size: 35px;
  }

  .project1 h6, .project2 h6, .project3 h6{
	  color:lightgray;
  }

@media screen and (prefers-reduced-motion){
	.logo{
		animation-duration: 0s;
	}
	.parallax {
		background-image: url('../imgs/umich.png');
		background-attachment:scroll;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	  }
}

  /* tablet view */
@media screen and (max-width: 768px){

	#me{
		height: 60%;
		width: 50%;
		margin-left: 200px;

	}

	.parallax{
		background-size: 75%;
	}

	.project1, .project2, .project3{
		width:30%;
	}
	.project2{
		left: 35%;
	}

	.exp h1{
		font-size: 40px;
	}

	.pictures img{
		margin-left: 80px;
	}

	.project1 h1, .project2 h1, .project3 h1{
		font-size: 20px;
		font-weight: bold;
	}
}

  /*mobile view*/
  @media only screen and (max-width: 600px) {
	#me{
		height: 60%;
	  	width: 100%;
	  	margin-left: 80px;
	}

	.parallax{
		background-size: 75%;
	}

	  body{
		  width: fit-content;
	  }
	
	  header{
		width: fit-content;
	  }

	.nav_links{
		display:flex;
		justify-content: space-around;
		flex-direction: row;
	}
	.name{
		position: absolute;
		top: 30%;
		right: 40%;
		margin-left: 20px;
		border-top: 5px solid lightblue;
		border-bottom: 5px solid lightblue;
	
	  }

	  .me{
		top: 40%;
		left: 30%;
	  }
	  
	.pictures img{
		margin-top: 50px;
		margin-left: 50px;
		top: 20%;
		left:70%;
		width: 55px;
		height: 55px;
	}

	#blockm{
		height: 35px;
	}

	.about_me h1{
		font-size: 15px;
	}

	.about_me p{
		font-size: 10px;
	}

	.about_me{
		left: 50%;
		margin-top: 50px;
		width: 70%;
		top: initial;
		height: 200%;
	}

	.exp h1{
		font-size: 30px;
	}

	.grid {
		grid-template-columns: auto;
	}
	.grid-item1{
		margin-left: 10px;
	}

	.grid-item2, .grid-item3, .grid-item4, .grid-item5{
		font-size: 10px;
		border: 5px solid white;
	}


	.project1, .project2, .project3{
		top:initial;
		position: absolute;
		color: white;
		border: 2px solid white;
		padding: none;
		margin: none;
		font-size: 8px;
		width: 40%;
		height: 60%;
		padding-top: 10px;
		
	}



	.project1{
		left: 5%;
	}

	.project2{
		left: 42.5%;
	}

	.project3{
		left: 80%;
	}

	.project1 h1, .project2 h1, .project3 h1{
		font-size: 12px;
	}
  
	.project1 p, .project2 p, .project3 p{
		font-size: 5;
		height: fit-content;
	}

	footer{
		font-size: 10px;
	}
  }
